<?xml version="1.0" encoding="utf-8"?>
<plugin
        id="cordova-plugin-rx-ios-permissions"
        version="1.0.0">

  <name>RxCDPermissions</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="index.js" target="js/index.js"/>

  <js-module src="index.js" name="RxCDPermissions">
    <clobbers target="RxCDPermissions" />
  </js-module>
  
  <platform name="ios">
      <config-file target="config.xml" parent="/*">
          <feature name="RxCDPermissions">
              <param name="ios-package" value="RxCDPermissions"/>
          </feature>
      </config-file>
      
      <header-file src="src/ios/RxCDPermissions.h" />
      <source-file src="src/ios/RxCDPermissions.m" />
  </platform>
</plugin>
